/*

Navbar Section

*/

body {
    font-family: 'Montserrat', sans-serif;
}

.navhead{
    background-color:black;
    padding: 35px 0;
}
.navhead a{
    color: white;
    font-size: 20px;
}

.navhead .location{
    color: white;
    font-size: 35px;
}

.navhead .brandname{
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.navhead a:hover{
    color: rgb(180, 177, 177);
    transition: 0.3s;
}

.head-bg img{
    display:block;
    width:100%;
    object-fit: cover;
    height: 100vh;
  }

.Header
{
    margin-bottom: 8.7%;
}


  /*
  Navbar section end

  */

/****About us*********/

.about{
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding: 80px 200px 80px;
}

.second_block{
    background-color: #ecfafc;
    padding: 7% 0%;
    letter-spacing: 1.5px;
}
.line1{
    font-size: 30px;
}
.line2{
    font-size: 20px;
}
.left_part{
    line-height: 40px;
}
.right_part1, .right_part2, .left_part{
    box-shadow: 0 8px 19px 0 rgba(63, 63, 63, 0.6), 0 6px 20px 0 rgba(0,0,0,0.9);
    padding: 40px;
}
.pic1{
    text-align: center;
}
.third_block,.team{
    margin-top: 8%;
}
.third_block .third_part1{
    letter-spacing: 1px;
    font-size: 24px;
}
.card{
    box-shadow: 0 8px 19px 0 rgba(63, 63, 63, 0.6), 0 6px 20px 0 rgba(0,0,0,0.9);
}
h3 , .headd{
    font-weight: 700;
}


.our_clients{
    background: linear-gradient(#ffe0e7, #ecfafc);
    margin-top: 7%;
    padding: 8% 0 9%;
}
.our_clients img{
    display: inline-block;
    margin: 60px 20px 0;
}


/********Footer Start*********/

footer{
    font-family: Roboto , sans-serif;
}


footer a{
    color: white;
}
footer a:hover{
    text-decoration: none;
    color: white;
}
.fb-ic , .tw-ic , .gplus-ic , .li-ic , .ins-ic{
    color: white !important;
}
hr{
    background-color: #6351ce !important;
}












